<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./dados-principais.component.css" />
    <title>Meu Perfil</title>
  </head>
  <body>
    <main>
    <section id="Secao1">
      <div id="ConteudoCentral">
        <h1>Kayky M. Pereira</h1>
             
        <article>
          <figure>
            <img
              id="ImagemPerfil"
              src="./assets/FotoK-profile.png"
              alt="Minha Foto de Perfil"
            />
          </figure> 
          <h2>
            Auxiliar de <br />
            Sistemas
          </h2>
          <p><b>Idade:</b> 20</p>
          <p><b>Localização:</b> Rio Verde</p>
          <p>
            Programador iniciante, gosto da área de desenvolvimento web
            front-end, trabalho atualmente com TI.
          </p>
        </article>
      </div>
    </section>
  </main>
  </body>
</html>
